.Filter{
	margin: 0 auto; 
	justify-content: center;
	margin-top: 2rem; 
	margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
	.Filter {  
		margin-top: 1rem; 
		margin-bottom: 1rem;
	}
	.Filter__main{
		width: 25%;
	}
} 

