.Header{ 
	border-bottom: 1px solid gray;
	padding:2.5rem 0;  
	text-align: center; 

	box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
	background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

@media only screen and (min-width: 768px) {
	.Header{  
		text-align: left;
	}
}

.Header img {
	width: 20rem;
}
 
.Header__text{
	text-align: start;
	text-transform: uppercase;
}


@media only screen and (min-width: 768px) {
	.Header__text{  
		
	}
}
