.Header{
	background: -moz-repeating-linear-gradient();
	border-bottom: 1px solid gray;
	padding:2.5rem 0;  
	text-align: center; 
}

@media only screen and (min-width: 768px) {
	.Header{  
		text-align: left;
	}
}

.Header img {
	width: 20rem;
}
 
.Header__text{
	text-align: start;
	text-transform: uppercase;
}


@media only screen and (min-width: 768px) {
	.Header__text{  
		
	}
}
