.Post{
	border: 1.5px solid var(--border-gray); 
	border-radius: 0.5rem; 
	margin:1rem 0; 
	display: flex;

}


@media only screen and (min-width: 768px) {
	.Post{ 
		flex-basis: calc(50% - 1rem); 
	}
}

.Post__main{ 
	flex: 1;
}

.Post__button-container{
	width: 12%;

	padding:3rem 0.5rem;
	background-color: #F5F5F5;

	display: flex;
	justify-content: center;
	align-items: center;
}

.Post__button{
	cursor: pointer;
}