.Post{
	border: 1.5px solid var(--border-dark-gray); 
	border-radius: 0.6rem; 
	margin:1rem 0; 
	display: flex;
    align-items: center; 
	cursor: pointer;
}

.Post:hover{
	background-color: var(--gray-hover);
}


@media only screen and (min-width: 768px) {
	.Post{ 
		flex-basis: calc(50% - 1rem); 
	}
}

.Post__main{ 
	flex: 1;  
	padding: 0 2rem 0 2.6rem;
}
.Post__hour{
	display: inline-flex;
	align-items: center;
	margin: 0px 0px 7px 0px;
}

.Post__hour p{
	font-size: 1.1rem;
	color: #767676;
	margin-left: 0.8rem;
}

.Post__text p{
	font-size: 1.4rem;
	line-height: 20px;
	letter-spacing: 0.25px;
	font-weight: 500;
}

.Post__button-container{
	width: 12%;

	padding:3rem 0.5rem;
	background-color: #F5F5F5;

	display: flex;
	justify-content: center;
	align-items: center;

	border-top-right-radius: 0.6rem; 
	border-bottom-right-radius: 0.6rem;
}

.Post__button{
	cursor: pointer;
}