:root{
	--blue: #1797ff;
	--border-gray:#d6d6d6; 
	--border-dark-gray:#979797; 
	--text-gray: #828282;
	--gray-hover: rgb(230, 230, 230);
}

html{ 
	user-select: none;
	font-size: 62.5%;  
	box-sizing: border-box;   
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img{
	max-width: 100%;
}

p,h1,h2,h3,h4,h5{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

p{
	font-size: 1.5rem;
}

.Container{
	max-width: 500px;
	margin: 0 auto;   
	padding:0 3rem;
	/* padding: 3rem 3rem 0 3rem;  */
}

@media only screen and (min-width: 768px) {
	.Container{ 
		max-width: 1200px;
	}
}